\#*
.\#*
*~
.DS_Store
Icon?
REVISION
TAGS*
nohup.out
.bzr
.hg
.svn

a.out
*.o
*.pyc
*.so
*.stackdump
*.sw?
*.tmproj
*_flymake.*
.project
.pydevproject
.settings
.tasks-cache
.yardoc

/**/*private*
/**/cache/*
/log/*
/tmp/*
/**/log/*
/**/tmp/*
/coverage
/doc/*
/pkg/*
/rdoc/*

/vendor/src/**/*
